  #root {
    font-family: Roboto, sans-serif; 
    font-weight: 400;
    position:absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 99vw;
    padding-left: 35px;
    background-color: #19191F;
    color: #F5F5F1;
    display: flex;
    justify-content: center;
  }
  
  h1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button{
  outline: none;
  }
  
  form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5vh;
}

.hidden{
  display: none;
}
  
  input{
    font-family: Roboto, sans-serif; 
    font-weight: 400;
    border-radius: 5px;
    background-color: #9094A2;
    color: #19191F;
    outline: none;
    border: 0;
    float: right;
    clear: both;
    overflow: hidden;
    transition: 0.5s;
    margin-bottom: 5%;
  }
  
  input:focus{
    border-radius: 0px;
    background-color: #F5F5F1
  }

  form > button{
    outline: none;
    border: 0;
    border-radius: 5px;
    height: 3vh;
    width: 6vh;
    background-color: #19191F;
    color: #F5F5F1;
    transition: 1s;
  }
  
  form > button:hover{
    cursor: pointer;
    outline: none;
    border: 1px solid #E3C06D;
    border-radius: 3px;
    color: #E3C06D;
  }
  
  form > button:active{
    background-color: #E3C06D;
    color:#19191F;
  }

  label{
    float: left;
  }
  
  .plusback{
  display: flex;
  }

  .arrow, 
  .plus{
  font-size: 2rem;
  color:#E3C06D;
	background-color:#19191F;
	border-radius:5px;
	cursor:pointer;
	padding:6px 24px;
	transition: 0.25s;
}

  .arrow:hover, 
  .plus:hover{
  color: #F5F5F1;
}

#arrow{
  margin-left: 2vw;
}

#plus{
  margin-left: 80%;
}