#adash-main{
  height: 80vh;
  width: 75vw;
  margin-top: 17vh;
  overflow-x: hidden;
  overflow-y: scroll;
  /* background-color: brown; */
}

#adash-flow{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5vw;
}

#adash-flow > div {
  flex: 33%;
  /* margin: 5vh; */
}

#adash-heading{
    position: absolute;
    top: 0;
    padding-top: 3.5vh;
    width: 75vw;
}

#eighthNote-icon{
  float: left;
  max-height: 25px;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 1vh;
}

#track-quantity{
  /* display: flex;
  align-items: center; */
}

#count{
  float: left;
}