#pdash-main{
  height: 85vh;
  width: 75vw;
  margin-top: 12.5vh;
  overflow-x: hidden;
  overflow-y: scroll;
  /* background-color: brown; */
}

#pdash-flow{
  padding-top: 10vh;
  padding-left: 20vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: end;
}

.track-rows{
  width: 75%;
  height: 5%;
  margin: 1vh;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  background-color: #51555E;
  color: #9094A2;
  transition: 0.25s;
}

.track-rows:hover{
  cursor: pointer;
  margin: 1.25vh;
  border-radius: 5px;
  background-color: #9094A2;
  color: #F5F5F1;
  border: 2px solid rgba(227, 192, 109,0.75);
}

#pdash-heading{
    position: absolute;
    top: 0;
    padding-top: 3.5vh;
    width: 75vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#sixteenthNote-icon{
  max-height: 25px;
  padding-right: 5%;
}

#version-quantity{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}