#pdash-main{
  height: 75vh;
  width: 75vw;
  margin-top: 21vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#pdash-flow{
  padding-top: 10vh;
  padding-left: 20vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: end;
}

.track-rows{
  width: 75%;
  height: 10%;
  margin: 1vh;
  border-radius: 10px;
  background-color: #51555E;
  color: #9094A2;
  transition: 0.25s;
}

.fa-trash-alt{
float: right;
margin-bottom: 2%;
margin-top: 2%;
margin-right: 5%;
}

.track-rows:hover{
  cursor: pointer;
  margin: 1.25vh;
  border-radius: 5px;
  background-color: #9094A2;
  color: #F5F5F1;
  border: 2px solid rgba(227, 192, 109,0.75);
}

#pdash-heading{
    position: absolute;
    top: 0;
    padding-top: 3.5vh;
    width: 75vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#sixteenthNote-icon{
  max-height: 25px;
  padding-right: 5%;
}

#version-quantity{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#name{
  margin-top: 8%;
  margin-left: 8%;
}

#track{
  float: left;
  margin-bottom: 2%;
  margin-top: 2%;
  /* flex-direction: row nowrap; */
  width: 75%;
}

#trackName{
  margin-left: 8%;
  margin-right: 10%;
  margin-bottom: 2%;
  margin-top: 2%;
}