#sdash-main{
  height: 73vh;
  width: 75vw;
  margin-top: 19vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#sdash-heading{
  position: absolute;
  padding-top: 3.5vh;
  top: 0;
  width: 75vw;
}

#sdash-main{
  margin-top: 27vh;
}

#submit-btn{
  overflow: hidden;
}

#comment-area{
  background-color: #9094A2;
  outline: none;
  color: #19191F;
  transition: 0.25s all ease-in-out;
}

#comment-area:focus{
  border: 2px solid #19191F;
}