#sdash-main{
  height: 80vh;
  width: 75vw;
  margin-top: 19vh;
  overflow-x: hidden;
  overflow-y: scroll;
  /* background-color: brown; */
}

#sdash-heading{
    position: absolute;
    top: 0;
    padding-top: 3.5vh;
    width: 75vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* #version-select{
z-index: 10000;
} */