#sdash-main{
  height: 73vh;
  width: 75vw;
  margin-top: 19vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#sdash-heading{
  position: absolute;
  top: 0;
  padding-top: 3.5vh;
  width: 75vw;
}

#sdash-main{
  margin-top: 27vh;
}