#splash-main{
  height: 80vh;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.splash-info-div{
  height: 100%;
  width: 100%;
  /* background-color: #F5F5F1; */
}

#logo{
  background-image:url(../Assets/splashLogo.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 75%;
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#join-btn-container{
  width: 25%;
  height: 8%;
  margin-left: 37%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
}

#join-btn{
  background-color: #51555E;
  color: #9094A2;
  font-weight: 600;
  width: 100px;
  min-height: 40px;
  height: 100%;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  border: 10 px solid #51555E;
  transition: 0.25s;
}

#join-btn:hover {
  background-color: #19191F;
  color: #E3C06D;
  border: 5px;
  border-color: #51555E;
}

#join-btn:active {
  color: #19191F;
  background-color: #E3C06D;
  border: 5px;
}

.button-border{
  margin-right: 10%;
}
.button-border:hover{}
.button-border:action{}